<div class="edit-container">
  <div class="editBox">
    <h1 style="text-align: center">EDIT MOVIE</h1>
    <form
      [formGroup]="editMovieForm"
      (ngSubmit)="editMovie()"
      class="form-group"
      class="input-grp"
      id="login"
    >
      <br />
      <div class="form-group row">
        <div class="col">
          <label class="small_label">Name</label>
          <input
            type="text"
            placeholder="Enter Movie Name"
            formControlName="name"
            name="name"
            class="form-control"
            [ngModel]="editingdMovie?.name"
            [class.is-invalid]="
              editMovieForm.get('name').invalid &&
              editMovieForm.get('name').touched
            "
          />
          <small
            [class.d-none]="
              editMovieForm.get('name').valid ||
              editMovieForm.get('name').untouched
            "
            class="text-danger"
            >name is requied</small
          >
        </div>
        <div class="col">
          <label class="small_label">Duration</label>
          <input
            type="text"
            placeholder="Enter Duration"
            formControlName="duration"
            name="duration"
            class="form-control"
            [ngModel]="editingdMovie?.duration"
            [class.is-invalid]="
              editMovieForm.get('duration').invalid &&
              editMovieForm.get('duration').touched
            "
          />
          <small
            [class.d-none]="
              editMovieForm.get('duration').valid ||
              editMovieForm.get('duration').untouched
            "
            class="text-danger"
            >Duration is requied</small
          >
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="small_label">Language</label>
          <input
            type="language"
            placeholder="Enter Language"
            formControlName="language"
            name="language"
            class="form-control"
            [ngModel]="editingdMovie?.language"
            [class.is-invalid]="
              editMovieForm.get('language').invalid &&
              editMovieForm.get('language').touched
            "
          />
          <small
            [class.d-none]="
              editMovieForm.get('language').valid ||
              editMovieForm.get('language').untouched
            "
            class="text-danger"
            >Language is requied</small
          >
        </div>
        <div class="col">
          <label class="small_label">Genre</label>
          <input
            type="text"
            placeholder="Enter Genre"
            formControlName="genre"
            name="genre"
            class="form-control"
            [ngModel]="editingdMovie?.genre"
            [class.is-invalid]="
              editMovieForm.get('genre').invalid &&
              editMovieForm.get('genre').touched
            "
          />
          <small
            [class.d-none]="
              editMovieForm.get('genre').valid ||
              editMovieForm.get('genre').untouched
            "
            class="text-danger"
            >Genre is requied</small
          >
        </div>
        <div class="col">
          <label class="small_label">Banner</label>
          <input
            type="url"
            placeholder="Enter Banner Link"
            formControlName="banner"
            name="banner"
            class="form-control"
            [ngModel]="editingdMovie?.banner"
            [class.is-invalid]="
              editMovieForm.get('banner').invalid &&
              editMovieForm.get('banner').touched
            "
          />
          <small
            [class.d-none]="
              editMovieForm.get('banner').valid ||
              editMovieForm.get('banner').untouched
            "
            class="text-danger"
            >Banner is requied</small
          >
        </div>
      </div>
      <hr />
      <br />
      <div style="text-align: center; align-items: center">
        <button class="btn btn-secondary mr-3" (click)="Theater()">Back</button>
        <input
          type="submit"
          class="btn btn-success mr-3"
          placeholder="submit"
          [disabled]="!editMovieForm.valid"
        />
      </div>
    </form>
  </div>
</div>
