<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: rgb(0, 4, 31)"
>
  <a class="navbar-brand" routerLink="/active-show">
    <img src="/assets/icon.jpg" height="40px" width="50px" />
    &nbsp;NMS Cinemas
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" *ngIf="role == 'user'">
        <a class="nav-link" routerLink="/home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item" *ngIf="!role">
        <a class="nav-link" routerLink="/userlogin">User Login</a>
      </li>

      <li class="nav-link" *ngIf="!role">
        <a class="nav-link" routerLink="/adminlogin">Admin Login</a>
      </li>

      <li class="nav-item dropdown" *ngIf="role == 'admin'">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/admin/movies">Movies</a>
          <a class="dropdown-item" routerLink="/admin/theaters">Theaters</a>
        </div>
      </li>

      <li class="nav-item" style="color: azure;" *ngIf="role == 'user'">User Account</li>

      <li class="nav-item" *ngIf="role">
        <a class="nav-link" routerLink="/userlogin" (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
