<div class="background">
    <h1 class="hi">Book Movie</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 choosenmovie">
        <h3>Movie Details</h3>
        <br />
        <p>
          <img src="{{ choosenMovie?.banner }}" width="380px" height="180px" />
        </p>
        <p>Movie Name : {{ choosenMovie?.name }}</p>
        <p>Movie Duration : {{ choosenMovie?.duration }}</p>
        <p>Movie Genre : {{ choosenMovie?.genre }}</p>
        <p>Movie Language : {{ choosenMovie?.language }}</p>
      </div>
      <div class="col-md-6 chooseDiv">
        <br /><br />
        <div class="main">
          <form
            [formGroup]="chooseForm"
            (ngSubmit)="choose()"
            class="form-group chooseForm"
          >
            <div class="col">
              <label>Choose theater:</label>
              <select
                type="text"
                placeholder="theater"
                formControlName="theater"
                name="theater"
                class="form-control theater"
                (change)="setTheaterId()"
                [class.is-invalid]="
                  chooseForm.get('theater').invalid &&
                  chooseForm.get('theater').touched
                "
              >
                <option selected value>-- select an option --</option>
                <ng-container *ngFor="let option of theatersList">
                  <option>
                    <div>{{ option.id }}) {{ option.theatreName }}</div>
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="col">
              <label>Choose date:</label>
              <input
                class="form-control dateInput"
                type="date"
                formControlName="date"
                [class.is-invalid]="
                  chooseForm.get('date').invalid &&
                  chooseForm.get('date').touched
                "
              />
            </div>
            <div class="col">
              <label>Choose time:</label>
              <select
                type="text"
                placeholder="time"
                formControlName="time"
                name="time"
                class="form-control timeInput"
                [class.is-invalid]="
                  chooseForm.get('time').invalid &&
                  chooseForm.get('time').touched
                "
              >
                <option selected value>-- select an option --</option>
                <option>10:00 AM (Morning)</option>
                <option>01:00 PM (Matnee)</option>
                <option>04:00 PM (Evening)</option>
                <option>08:00 PM (Night)</option>
              </select>
            </div>
            <br />
            <div class="col1">
              <input
                type="submit"
                class="btn btn-success mr-3"
                placeholder="submit"
                [disabled]="!chooseForm.valid"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
