<div class="edit-container">
  <div class="editBox">
    <h1 style="text-align: center">EDIT THEATER</h1>
    <form
      [formGroup]="editTheaterForm"
      (ngSubmit)="editMovie()"
      class="form-group"
      class="input-grp"
      id="login"
    >
      <br />
      <div class="form-group row">
        <div class="col">
          <label class="small_label">Theater Name</label>
          <input
            type="text"
            placeholder="Enter Theater Name"
            formControlName="theatreName"
            theatreName="theatreName"
            class="form-control"
            [ngModel]="editingTheater?.theatreName"
            [class.is-invalid]="
              editTheaterForm.get('theatreName').invalid &&
              editTheaterForm.get('theatreName').touched
            "
          />
          <small
            [class.d-none]="
              editTheaterForm.get('theatreName').valid ||
              editTheaterForm.get('theatreName').untouched
            "
            class="text-danger"
            >Theater name is requied</small
          >
        </div>
        <div class="col">
          <label class="small_label">Theater Address</label>
          <input
            type="text"
            placeholder="Enter Theater Address"
            formControlName="theatreAddress"
            theatreName="theatreAddress"
            class="form-control"
            [ngModel]="editingTheater?.theatreAddress"
            [class.is-invalid]="
              editTheaterForm.get('theatreAddress').invalid &&
              editTheaterForm.get('theatreAddress').touched
            "
          />
          <small
            [class.d-none]="
              editTheaterForm.get('theatreAddress').valid ||
              editTheaterForm.get('theatreAddress').untouched
            "
            class="text-danger"
            >Theater Address is requied</small
          >
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <p>Present movie: {{ editingTheater?.movie?.name }}</p>
          <select
            type="text"
            placeholder="movieId"
            formControlName="movieId"
            name="movieId"
            class="form-control"
            (change)="setMovieId()"
            [class.is-invalid]="
              editTheaterForm.get('movieId').invalid &&
              editTheaterForm.get('movieId').touched
            "
          >
            <option selected value>-- Select an option --</option>
            <ng-container *ngFor="let option of moviesList">
              <option>
                <div>{{ option.id }}) {{ option.name }}</div>
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <hr />
      <div style="text-align: center; align-items: center">
        <button class="btn btn-secondary mr-3" (click)="Theater()">Back</button>
        <input
          type="submit"
          class="btn btn-success mr-3"
          placeholder="submit"
          [disabled]="!editTheaterForm.valid"
        />
      </div>
    </form>
  </div>
</div>