<div class="booking-history-container" *ngIf="bookingHistory?.length > 0; else noHistory">
  <h2>Booking History</h2>

  <button class="btn btn-primary" (click)="backToMovieList()">
    Back to Movie List
  </button>

  <div class="table-container mt-3">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>User Email</th>
          <th>Movie</th>
          <th>Theater</th>
          <th>Card Holder Name</th>
          <th>Card Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of bookingHistory">
          <td>{{ history.user }}</td>
          <td>{{ history.movie }}</td>
          <td>{{ history.theater }}</td>
          <td>{{ history.cardHolderName }}</td>
          <td>{{ maskCardNumber(history.cardNumber) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noHistory>
  <p>No booking history available.</p>
</ng-template>
