<div class="d-flex justify-content-center" style="padding-top: 20px">
  <div class="jumbotron">
    <div style="text-align: center">
      <h1>Forget Password</h1>
    </div>
    <div *ngIf="!isEmailVerified">
      <form [formGroup]="verifyEmailForm" (submit)="onSubmitVerifyEmail()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                verifyEmailForm.get('email').invalid &&
                verifyEmailForm.get('email').touched
            }"
          />
          <div
            *ngIf="
              verifyEmailForm.get('email').invalid &&
              verifyEmailForm.get('email').touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="verifyEmailForm.get('email').hasError('required')">
              Email is required
            </div>
            <div *ngIf="verifyEmailForm.get('email').hasError('email')">
              Invalid email format
            </div>
          </div>
        </div>
        <div class="form-group">
          <div style="text-align: center">
            <button
              class="btn btn-primary"
              [disabled]="verifyEmailForm.invalid"
            >
              Verify Email
            </button>
          </div>
        </div>
      </form>
      <div class="alert alert-danger" *ngIf="emailNotFound">
        Email not found in the database.
      </div>
    </div>
    <div *ngIf="isEmailVerified">
      <form [formGroup]="newPasswordForm" (submit)="onSubmitNewPassword()">
        <div class="form-group">
          <label for="password">New Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                newPasswordForm.get('password').invalid &&
                newPasswordForm.get('password').touched
            }"
          />
          <div
            *ngIf="
              newPasswordForm.get('password').invalid &&
              newPasswordForm.get('password').touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="newPasswordForm.get('password').hasError('required')">
              Password is required
            </div>
            <div *ngIf="newPasswordForm.get('password').hasError('minlength')">
              Password must be at least 6 characters long
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                newPasswordForm.get('confirmPassword').invalid &&
                newPasswordForm.get('confirmPassword').touched
            }"
          />
          <div
            *ngIf="
              newPasswordForm.get('confirmPassword').invalid &&
              newPasswordForm.get('confirmPassword').touched
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                newPasswordForm.get('confirmPassword').hasError('required')
              "
            >
              Confirm Password is required
            </div>
            <div *ngIf="newPasswordForm.hasError('passwordMismatch')">
              Passwords do not match
            </div>
            <!-- Add custom validator error message -->
          </div>
        </div>
        <div class="form-group">
          <div style="text-align: center">
            <button
              class="btn btn-primary"
              [disabled]="newPasswordForm.invalid"
            >
              Update Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
